<!DOCTYPE html>

<html>
    <head>
        <title>Wiki and Twitter Search</title>

        <!-- Inlude Style Sheets -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'search/index.css' %}" />
    </head>
    <body>
        <!-- Search box form -->
        <form action="/search/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>

        {% if not landing %} <!-- Only load this content after a search is done-->
        <!-- Wiki Search results. Only display if there are results. -->
        <div class="wiki">
            <h3>Wiki Search results</h3>
            {% if query_results.wikiError %} 
                <p>Error accessing Wiki API.</p> 

            {% else %}
                {% if query_results.wikiResults %}

                    {% autoescape off %}
                    {% for query_result in query_results.wikiResults %}
                        <h3 class="title">{{ query_result.title }}</h3>
                        <p class="text">{{ query_result.snippet }}</p>
                    {% endfor %}
                    {% endautoescape %}

                {% else %}
                    <p>No results found for search topic.</p>

                {% endif %}

            {% endif %}
        </div>

        <!-- Twitter Search results. Only display if there are results. -->
        <div class="twitter">
            <h3>Twitter Search results</h3>
            {% if query_results.twitterError %} 
                <p>Error accessing Twitter API.</p> 

            {% else %}
                {% if query_results.twitterResults %}

                    {% autoescape off %}
                    {% for query_result in query_results.twitterResults %}
                        <h3 class="name">{{ query_result.displayName }}: <span>@{{ query_result.screenName }}</span></h3>
                        <p class="text">{{ query_result.text }}</p>
                    {% endfor %}
                    {% endautoescape %}

                {% else %}
                    <p>No results found for search topic.</p>

                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </body>
</html>
